In [1]:
#Set environment variables for your notebook
import os 
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/Users/sandeshsawant/Documents/google-keys/jupyter-google-big-query.json'
#Imports google cloud client library and initiates BQ service
from google.cloud import bigquery
bigquery_client = bigquery.Client()
#Write Query on BQ
QUERY = """
SELECT
  primary_type,
  year,
  COUNT(unique_key) AS Crime_Count
FROM
  `bigquery-public-data.austin_crime.crime`
GROUP BY
  primary_type,
  year
ORDER BY
  year DESC,
  Crime_Count DESC
  """
#Run the query and write result to a pandas data frame
Query_Results = bigquery_client.query(QUERY)
df = Query_Results.to_dataframe()
#View top few rows of result
df.head()

  primary_type  year  Crime_Count
0        Theft  2016        26240
1     Burglary  2016         5171
2  Agg Assault  2016         2177
3   Auto Theft  2016         2025
4      Robbery  2016         1050