<a href="https://colab.research.google.com/github/falmeida-tech/Machine_Learning-DevOps/blob/main/panda_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

s = pd.Series([3,-5,7,4],index=['a','b','c','d'])
print(s)

a    3
b   -5
c    7
d    4
dtype: int64

In [6]:
import pandas as pd

item = ['Computer', 'Printer', 'Tablet', 'Desk', 'Chair']
my_series = pd.Series(item)

print(my_series)
print(type(my_series))

0    Computer
1     Printer
2      Tablet
3        Desk
4       Chair
dtype: object
<class 'pandas.core.series.Series'>

In [7]:
import pandas as pd

item = ['Computer', 'Printer', 'Tablet', 'Desk', 'Chair']
my_series = pd.Series(item)

df = my_series.to_frame()

print(df)
print(type(df))

          0
0  Computer
1   Printer
2    Tablet
3      Desk
4     Chair
<class 'pandas.core.frame.DataFrame'>

In [8]:
# importing pandas as pd
import pandas as pd

# Creating the Series
sr = pd.Series([19.5, 16.8, 22.78, 20.124, 18.1002])

# Print the series
print(sr)

0    19.5000
1    16.8000
2    22.7800
3    20.1240
4    18.1002
dtype: float64